{% load static %}
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="{% url 'store:home' %}" class="logo">
            <span class="symbol"><img src="{% static "images/logo.svg" %}" alt="" /></span><span class="title">Diamondique</span>
        </a>
        <!-- Search -->
            <form class="d-flex me-3" role="search" action="{% url 'store:search_results' %}">
                <input name="q" class="form-control me-3" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-success" type="submit" style="padding: 4px 9px; font-size: 13px;">Поиск</button>
                  </form>
        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
            <br>
            <ul class="actions">
                <li>
                    <a href="{% url 'cart:cart' %}">
                    <img src ="{% static "images/cart.jpg" %}" width="40" height="40" ></a>
                    <br>
                    <a href="{% url 'users:profile' %}">
                    <img src ="{% static "images/profile.png" %}" width="40" height="40" ></a>
                    <a href="{% url 'favorites:favorites' %}">
                        <img src="{% static "images/favorite.png"%}" width="40" height="40"></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Menu -->
<nav id="menu">
    <h2>Меню</h2>
    <ul>

        <li><a href="{% url 'store:tag_list' %}">Все категории</a></li>
        {% if  request.user.is_authenticated %}
        <li><a href="{% url 'store:create' %}">Добавить товар</a></li>
        <li><a href="{% url 'users:user_orders' %}">Ваши заказы</a></li>
        {% endif %}
        <li><a href="{% url 'about:about_project' %}">О проекте</a></li>
        <li><a href="{% url 'about:about_me' %}">Обо мне</a></li>
    </ul>
</nav>